body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: orangered;
    color: black;
    margin: 0;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}

.sec {
    background-color: orangered;
    height: 78.8vh;
    display: flex;
    justify-content: center;
}

.card {

    width: 50vw;
    height: 73vh;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.container {
    width: 40vw;
}



.inp {
    border: 2px solid orangered;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
}


.add-btn {
    color: black;
    background-color: orangered;
    border: 2px solid orangered;
    font-size: 16px;
    padding: 6.5px 10px;
}

.add-btn:hover {
    background-color: black;
    color: orangered;
    transition: 0.3s;

}

.ul {
    padding-left: 0;
}

.todo {
    font-weight: 100;
    margin-top: 20px;
    list-style: none;
    color: white;
    font-size: 20px;
}

.dlt-btn {
    font-size: 18px;
    color: rgb(252, 41, 41);
    background-color: black;
    border: none;
    float: right;
    margin-left: 20px;
}

.strike-btn {
    font-size: 20px;
    border: none;
    color: rgb(65, 238, 65);
    background-color: black;
    float: right;

}

.edit-btn {
    font-size: 20px;
    border: none;
    color: yellow;
    background-color: black;
    float: right;
    margin-left: 20px;
}



.edit-inp {
    padding-left: 10px;
    width: 330px;
    height: 25px;
    background-color: black;
    color: white;
    border: 1px solid orangered
}